

:root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(22, 16, 16, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-image: url('https://i.pinimg.com/originals/07/1f/cf/071fcfb8e5ed97e965a282c2d74cbaa8.jpg'); 
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}



