.container {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 2px; 
    background-size: cover; 
    background-color: rgb(245, 245, 245);
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(53, 50, 50);
    flex-wrap: wrap;     
    padding-left: 5vw;
    align-self: flex-start;     
    backdrop-filter: blur(40px);
}

.agregar {
margin-inline-start: auto;
}

.activeLink{
    padding-left: 10px;
    margin-left: 10px;
    padding-left: 40px;
    cursor: pointer;
    border: black;
    color: white;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.link{
padding-left: 10px;
margin-left: 10px;
padding-left: 40px;
cursor: pointer;
border: black;
color: white;
font-size: 18px;
font-weight: 300;
font-family: 'Arial Narrow Bold', sans-serif;
text-decoration: none;
}
.link:hover{
    color: rgba(255, 255, 255, 0.719);
}

.link2{
padding-left: 10px;
margin-left: 10px;
padding-left: 40px;
cursor: pointer;
border: black;
color: white;
font-size: 18px;
font-weight: 300;
font-family: 'Arial Narrow Bold', sans-serif;
text-decoration: none;
color: #10ff74;
}


.imagen{
width: 100px;
height: 60px;
margin-left: -40px;
margin-right: -14px;
}
.random{
border: 1px solid rgb(20, 20, 20);
padding-left: 10px;
margin-left: 10px;
margin-top: 9px;
margin-bottom: 13px;
padding-bottom: 4px;
padding-top: 4px;
background-color: #f8f8f8;
cursor: pointer;
transition: background-color 0.3s ease;
border: black;
}


.randomtext{
color: rgb(245, 245, 245);
font-size: 18px; 
}





